%section.sign_in.container
  .row
    .span10.offset1
      %h1 Sign in
      =form_tag '/login', :method => 'post' do |f|
        =label_tag :name
        =text_field_tag :name, params[:name]
        %br
        =label_tag :password
        =password_field_tag :password
        %br
        =submit_tag 'Login', :class => "btn btn-secondary"