---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2QhSwC6yU2Chrr&description=%20registration%20fee
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2QhSnZW0nUrnpf\",\n  \"object\": \"charge\",\n
        \ \"created\": 1377147034,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2QhS6bx1hYecMk\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 7,\n    \"exp_year\": 2016,\n
        \   \"fingerprint\": \"I3rI5FeqnwY9lE0k\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n    \"address_line2\":
        null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\":
        null,\n    \"address_country\": null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\":
        null,\n    \"address_zip_check\": null\n  },\n  \"captured\": true,\n  \"refunds\":
        [],\n  \"balance_transaction\": \"txn_2QhSkXP5PpUGpx\",\n  \"failure_message\":
        null,\n  \"failure_code\": null,\n  \"amount_refunded\": 0,\n  \"customer\":
        null,\n  \"invoice\": null,\n  \"description\": \" registration fee\",\n  \"dispute\":
        null\n}\n"
  recorded_at: Thu, 22 Aug 2013 04:50:34 GMT
recorded_with: VCR 2.5.0
