---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2QiPtbSPoRwm4g&description=bob%40bob.com%20registration%20fee
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card's expiration date
        is incorrect.\",\n    \"type\": \"card_error\",\n    \"param\": \"exp_month\",\n
        \   \"code\": \"expired_card\",\n    \"charge\": \"ch_2QiPn6dmjAM0P6\"\n  }\n}\n"
  recorded_at: Thu, 22 Aug 2013 05:49:41 GMT
recorded_with: VCR 2.5.0
