---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=bob%40bob.com&card=tok_2UhFP7TpxM7nLd&plan=myflix
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1378068857,\n  \"id\":
        \"cus_2UhFBY8KrpHBTl\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"bob@bob.com\",\n  \"delinquent\": false,\n  \"subscription\":
        {\n    \"id\": \"su_2UhFdPh7ksgDvn\",\n    \"plan\": {\n      \"interval\":
        \"month\",\n      \"name\": \"MyFlix Basic\",\n      \"amount\": 999,\n      \"currency\":
        \"usd\",\n      \"id\": \"myflix\",\n      \"object\": \"plan\",\n      \"livemode\":
        false,\n      \"interval_count\": 1,\n      \"trial_period_days\": null\n
        \   },\n    \"object\": \"subscription\",\n    \"start\": 1378068857,\n    \"status\":
        \"active\",\n    \"customer\": \"cus_2UhFBY8KrpHBTl\",\n    \"cancel_at_period_end\":
        false,\n    \"current_period_start\": 1378068857,\n    \"current_period_end\":
        1380660857,\n    \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\":
        null,\n    \"canceled_at\": null,\n    \"quantity\": 1\n  },\n  \"discount\":
        null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\": \"list\",\n
        \   \"count\": 1,\n    \"url\": \"/v1/customers/cus_2UhFBY8KrpHBTl/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2UhFYHLlCi802z\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        7,\n        \"exp_year\": 2016,\n        \"fingerprint\": \"I3rI5FeqnwY9lE0k\",\n
        \       \"customer\": \"cus_2UhFBY8KrpHBTl\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_2UhFYHLlCi802z\"\n}\n"
  recorded_at: Sun, 01 Sep 2013 20:54:17 GMT
recorded_with: VCR 2.5.0
