---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2V4NLPQNlgGDow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2V4NLPQNlgGDow\",\n  \"created\": 1378154890,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2V4N5gihqxN5aQ\",\n      \"object\":
        \"charge\",\n      \"created\": 1378154889,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2V4Ns2J3G2FBZ7\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 9,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"I3rI5FeqnwY9lE0k\",\n        \"customer\": \"cus_2V4NFeexwRMknd\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"refunds\": [],\n      \"balance_transaction\":
        \"txn_2V4NnoKhyDQPRp\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2V4NFeexwRMknd\",\n
        \     \"invoice\": \"in_2V4NmpjEPJ1Syh\",\n      \"description\": null,\n
        \     \"dispute\": null\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\":
        0,\n  \"request\": \"iar_2V4NQDEW0j4aY5\"\n}\n"
  recorded_at: Mon, 02 Sep 2013 22:17:03 GMT
recorded_with: VCR 2.5.0
