---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2PbJ2dKTdTCsGQ\",\n  \"livemode\": false,\n  \"created\":
        1376893529,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2PbJNSSIM2Gbhz\",\n    \"object\": \"card\",\n
        \   \"last4\": \"0002\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2016,\n    \"fingerprint\": \"NPB7G42jlv6dIQg8\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Mon, 19 Aug 2013 06:25:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_2PbJ2dKTdTCsGQ&description=test%20charge
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_2PbJy33BAohuFn\"\n  }\n}\n"
  recorded_at: Mon, 19 Aug 2013 06:25:33 GMT
recorded_with: VCR 2.5.0
