---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2Vmd45mHekGQV7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2Vmd45mHekGQV7\",\n  \"created\": 1378319509,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_2VmdrkPen1QLqY\",\n      \"object\": \"charge\",\n      \"created\":
        1378319509,\n      \"livemode\": false,\n      \"paid\": false,\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"refunded\": false,\n      \"card\":
        {\n        \"id\": \"card_2VmbGOez07uKmG\",\n        \"object\": \"card\",\n
        \       \"last4\": \"0341\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        9,\n        \"exp_year\": 2017,\n        \"fingerprint\": \"7jBNtR5oBZQjZDig\",\n
        \       \"customer\": \"cus_2V6TP5agP8zBB1\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": false,\n      \"refunds\": [],\n      \"balance_transaction\":
        null,\n      \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2V6TP5agP8zBB1\",\n
        \     \"invoice\": null,\n      \"description\": \"failed payment\",\n      \"dispute\":
        null\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\": 1,\n
        \ \"request\": \"iar_2Vmd0e6bCAfHBb\"\n}\n"
  recorded_at: Wed, 04 Sep 2013 18:53:19 GMT
recorded_with: VCR 2.5.0
