---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2V5cjuQn8xSwcO\",\n  \"livemode\": false,\n  \"created\":
        1378159510,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2V5c0UvAbunzzK\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2016,\n    \"fingerprint\": \"I3rI5FeqnwY9lE0k\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Mon, 02 Sep 2013 22:05:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=macie_mueller%40ferry.org&card=tok_2V5cjuQn8xSwcO&plan=myflix
    headers:
      Authorization:
      - Bearer sk_test_b6kw9BBDNfGwTxQ0mIsQh0dB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1378159511,\n  \"id\":
        \"cus_2V5cYyzwjlsAzl\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"macie_mueller@ferry.org\",\n  \"delinquent\": false,\n  \"subscription\":
        {\n    \"id\": \"su_2V5c4Rp8c25Siq\",\n    \"plan\": {\n      \"interval\":
        \"month\",\n      \"name\": \"MyFlix Basic\",\n      \"amount\": 999,\n      \"currency\":
        \"usd\",\n      \"id\": \"myflix\",\n      \"object\": \"plan\",\n      \"livemode\":
        false,\n      \"interval_count\": 1,\n      \"trial_period_days\": null\n
        \   },\n    \"object\": \"subscription\",\n    \"start\": 1378159511,\n    \"status\":
        \"active\",\n    \"customer\": \"cus_2V5cYyzwjlsAzl\",\n    \"cancel_at_period_end\":
        false,\n    \"current_period_start\": 1378159511,\n    \"current_period_end\":
        1380751511,\n    \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\":
        null,\n    \"canceled_at\": null,\n    \"quantity\": 1\n  },\n  \"discount\":
        null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\": \"list\",\n
        \   \"count\": 1,\n    \"url\": \"/v1/customers/cus_2V5cYyzwjlsAzl/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2V5c0UvAbunzzK\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        8,\n        \"exp_year\": 2016,\n        \"fingerprint\": \"I3rI5FeqnwY9lE0k\",\n
        \       \"customer\": \"cus_2V5cYyzwjlsAzl\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_2V5c0UvAbunzzK\"\n}\n"
  recorded_at: Mon, 02 Sep 2013 22:05:11 GMT
recorded_with: VCR 2.5.0
