<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %>, Please click the link below to reset your password:</p>
		<p><%= link_to "Reset your Myflix Password", password_reset_url(@user.token) %></p>
    <p>Stay classy!</p>
  </body>
</html>