<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Welcome to Myflix, <%= @user.name %></h5>
    <p>Stay classy!</p>
  </body>
</html>