%section.genre
  %header.clearfix
    %h1 #{@category.name}
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
    - @videos.each do |v|
      .video.span2
        = link_to video_path(v) do 
          %img(src="#{v.small_cover_url}")
